


.container{
    margin-bottom: 0.5rem;

    .title {
        display: inline;
        h1{
            display: inline;
            font-weight: 300;
            margin: 0px;
            padding: 0px;

        }
    }

    .search_container {
        float: right;
        .search {
            .button{
                width: 40px;
                height: 5px;
            }
            border-radius: 10px;
            background-color: #EEEE;
            padding: 5px 10px;
        }
    }

}
