.commentCard{
    width: 100%;
    height: fit-content;
    border: 1px solid;
    background-color: #D2D2D2 ;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;

    .commentHeader{
        display: flex;
        .commentName{
            font-weight: bold;
            vertical-align: middle;
        }
    
        .commentDate{
            padding-left: 3px;
            font-size: 12px;
            vertical-align: middle;
            padding-top: 8px;

    }

    .commentData{
        margin: 0;

    }

    
    }
}