
.helloworld {
    display: flex;
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.container_home {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-auto-flow: column;
    grid-auto-columns: 3fr 1fr;
    padding: 80px 5%;
    grid-template-rows: auto auto auto auto ;
    align-content: center;
    background-color: white;


}