$debug: false;

.margin20px {
    margin: 20px;
}

.container {
    margin: 0 100px;
    margin-top: 100px;
    height: 100%;
}

.project_creation_stage {
    padding: 20px;
    border-left: 0.5px solid gray;
    @if $debug {
        outline: 2px solid black;
    }
}

.project_creation {

    @if $debug {
        outline: 2px solid green;
    }

    $stage-base: darken(white, 10%);
    $chosen-base: darken(white, 15%);

    // applies to a particular stage
    .selected_stage {
        background-color: $chosen-base;
    }

    // applies to all stages on the left hand side
    .stage_title {
        margin: 0px 0px 0px 0px;
        padding: 0px 10px 0px 0px;
        border-bottom: 0.5px solid gray;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .stage {
        margin: 0px;
        padding: 7px 10px;
        cursor: pointer;

        transition-property: all;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        &:hover {
            background-color: $stage-base;
        }
    }

    // applies to each component of the creation stage
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 0px;
    h1 {
        margin: 0;
    }
}
