$debug-mode: false;

.outer_container {

    background-color: lighten(lightgrey, 12%);
    overflow: hidden;

    .container {
        outline: 0.1px solid gray;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 5px;
        margin: 0px 100px;
        padding: 50px;
        height: 100%;
        overflow: visible;
        background-color: white;
        @if $debug-mode {
            outline: 1px solid blue;
        }
    }
}
.progress_circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.separator {
    border-bottom: 1px solid black;
    margin-top: 5vh;
    margin-bottom: 20px;
}

.profile_container {
    display: grid;
    margin-top: 100px;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 4fr;
    @if $debug-mode {
        outline: 1px solid black;
    }
}

.project_card_container {
    @if $debug-mode {
        outline: 1px solid red;
    }
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    .project_card {
        $base-color: lighten(gray, 40%);
        $hover-color: lighten(gray, 35%);
        $border-radius: 7px;
        background-color: white;
        width: 100%;
        border-radius: $border-radius;
        position: relative;
        top: 0px;
        transition-property: top, background-color;
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        min-height: 50vh;
        overflow-y: hidden;

        h1 {
            font-size: 1.4rem;
            font-weight: 700;
        }

        @if $debug-mode {
            outline: 1px solid red;
        }

        &:hover {
            background-color: $hover-color;
            position: relative;
            top: -10px;
        }
        .project_poster {
            height: 40vh;
            width: 80%;
            margin: auto;
            top: 30px;
            position: relative;
            overflow: visible;
        }
        .project_description {
            height: 100%;
            border-top: 0.5rem solid darken($base-color, 40%);
            border-radius: 0px 0px $border-radius $border-radius;
            background-color: $base-color;
            padding: 20px 10px 10px;
        }
    }

}


.create_poster_card {
    cursor: pointer;
    display: flex;
    .square {
        margin: auto;
        width: 70px;
    }
}



.image_profile {
    display: flex;
    justify-content: center;
    @if $debug-mode {
        outline: 1px solid red;
    }
}

.description_profile {
    .textarea {
        margin: 0;
        font-family: sans-serif;
        font-size: 1rem;
        width: 95%;
        min-height: 40%;
        resize: none;
        background-color: lighten(gray, 43%);
        padding: 10px;
        border-radius: 15px;
        border: 1px solid lighten(gray, 35%);
        transition: background-color 200ms ease-in;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: none;
        box-shadow: none;

        &:focus {
            background-color: lighten(gray, 40%);
        }
    }

    button {
        $base-color: darken(white, 10%);
        $hover-color: darken(white, 15%);

        border-radius: 15px;
        margin: 5px;
        padding: 5px;
        background-color: $base-color;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: none;
        box-shadow: none;
        transition-property: background-color;
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        &:hover {
            background-color: $hover-color;
        }
    }
}


.border_circle {
    border-radius: 9999px;
}

@media (max-width:800px ) {

.outer_container {

    background-color: lighten(lightgrey, 12%);
    overflow: hidden;

    .container {
        outline: 0.1px solid gray;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin: 0px 10px;
        padding: 50px;
        height: 100%;
        overflow: visible;
        background-color: white;
        @if $debug-mode {
            outline: 1px solid blue;
        }
    }
}

.image_profile {
    margin-top: 30px;
    size: 100%;
    display: block;
    justify-content: center;
    @if $debug-mode {
        outline: 1px solid red;
    }
}
.project_card_container {
    @if $debug-mode {
        outline: 1px solid red;
    }
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    .project_card {
        $base-color: lighten(gray, 40%);
        $hover-color: lighten(gray, 35%);
        $border-radius: 7px;
        background-color: white;
        width: 100px;
        border-radius: $border-radius;
        position: relative;
        top: 0px;
        transition-property: top, background-color;
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        min-height: 150px;
        overflow-y: hidden;
    }
}

}
    